*{
    font-family: Georgia, sans-serif;
}

body{
    background-color: #b4e3f9;
}

div#bac-graphic {
    background-image: url("bac-symptoms.png");
    width: 1000px;
    height: 319px;
    position: relative;
}
input[type=range] {
    width: 800px;
    left: 25px;
    top: 163px;
    position: absolute;
}